html,
body {
  font-family: Roboto, -apple-system;
}

#a {
  grid-area: a;
}
#b {
  grid-area: b;
}
#c {
  grid-area: c;
}
#d {
  grid-area: d;
}
#e {
  grid-area: e;
}
#f {
  grid-area: f;
}
#g {
  grid-area: g;
}
#h {
  grid-area: h;
}
#i {
  grid-area: i;
}
#j {
  grid-area: j;
}

#grid {
  display: grid;
  grid-template-areas:
    "a b c d e f g g"
    "h h i i j j k k";

  grid-row-gap: 1rem;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 512px) {
  #grid {
    grid-template-areas:
      "a b c d"
      "e f g h"
      "i j k k";
  }
  .container.body {
    max-width: 100%;
  }
  .hero-body.body {
    max-width: 100%;
  }
  label.box {
    font-size: 3rem;
  }

  input.box {
    font-size: 3rem;
  }
}
@media (max-width: 1024px) {
  #grid {
    grid-template-areas:
      "a a b b c c d d"
      "e e e f f g g g"
      "h h i i j j k k ";
  }
  .container.body {
    max-width: 100%;
  }
  .hero-body.body {
    max-width: 100%;
  }
}
#grid img {
  margin: 0 0;
  padding: 0;
}
.container-header {
  /* flex-grow: 1; */
  display: flex;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  /* width: 100vw; */
  /* height: 100vh; */
}

.container.body {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  line-height: 3;
}

.container.body.grey-box {
  outline: 3px solid #707070;
  padding: 20px 45px;
}

h1.is-green {
  height: 100vh;
  color: #3da940 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 700;
}

.title.is-green {
  color: #3da940 !important;
  font-weight: 500;
}

.hero-body.body {
  max-width: 90%;
  align-items: center;
  justify-content: center;
}
nav.navbar {
  height: 2rem !important;
}
.image-about {
  flex: 1 auto;
  background-image: url(/assets/images/Image.png);
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  max-height: auto;
  max-width: 100vw;
  /* z-index: -100; */
  /* margin-top: 0.25rem; */
  /* padding-top: 3.25rem; */
  /* width: 100vw; */
  /* display: block; */
  /* margin: -6.75rem -10rem -10rem -5rem !important; */
  /* overflow: hidden !important; */
}
/* .navbar-brand{
    width: auto;
} */
a.logo {
  cursor: pointer;
  background-image: url("/assets/images/Acid Logo_edited (1).svg");
  background-size: 10.25rem;
  background-repeat: no-repeat;
  padding: 0 5.75rem;

  margin-left: 0.75rem;
  margin-top: 0.3rem;
}

/* a.logo:hover {
  cursor: pointer;
  background-image: url("/assets/logo/logo-AI-1.png") !important;
  background-size: 3.25rem;
  padding: 0 1.75rem;
  background-repeat: no-repeat;
} */
a.button.brand-green:hover {
  background-color: #fff;
  color: #38d430;
}
a.button.brand-green {
  padding: 0 10px 0 10px;
  font-size: larger;
  font-weight: normal;
  font-family: "Roboto";
  background-color: #38d430;
  color: #fff;
  outline: none;
  border-color: #38d430;
}
.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 0;
  align-items: baseline;
}
.bg-image-landing-group12 {
  margin-top: 3.25rem;
  background-image: url("/assets/images/Group-12-min.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-position: center center; */
  background-position: 0% 0%;
  background-repeat: no-repeat;
  z-index: -100;
  /* margin-top: 0.25rem; */
  /* padding-top: 3.25rem; */
  /* width: 100vw; */
  height: 90vh;
  /* display: block; */
  /* margin: -6.75rem -10rem -10rem -5rem !important; */
  /* overflow: hidden !important; */
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

.hero-body.is-green {
  background-color: #3da940;
  margin: 1rem;
  padding: 10rem 5rem;
}

label.box-gray {
  font-size: 20px;
  margin-bottom: 4rem;
}

label.box-gray.light {
  color: #707070;
}

textarea,
input#ideas-describe {
  height: 185px;
  width: 100%;
  font-size: 20px;
  padding: 1rem;
}

form input {
  font-size: 20px;
}

label.box {
  width: 100%;
}

input.box {
  width: 100%;
}

button.button-send {
  background-color: #3da940;
  color: white;
  font-size: 20px;
  width: 6.5rem;
  height: 3rem;
  outline-style: none;
  box-shadow: none;
}

.hero-foot {
  background-color: #1f242d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.foot-title {
  color: #38d430;
}

.copy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #ffffff;
}
