html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: Roboto, -apple-system;
  max-width: 100%;
}

.navbar-default {
  max-width: 100%;
}

#a {
  grid-area: a;
}
#b {
  grid-area: b;
}
#c {
  grid-area: c;
}
#d {
  grid-area: d;
}
#e {
  grid-area: e;
}
#f {
  grid-area: f;
}
#g {
  grid-area: g;
}
#h {
  grid-area: h;
}
#i {
  grid-area: i;
}
#j {
  grid-area: j;
}

#grid {
  display: grid;
  grid-template-areas:
    "a b c d e f g g"
    "h h i i j j k k";

  grid-row-gap: 1rem;
}

.flex-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-images-int {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.flex-images > .center-column {
  margin-right: 2rem;
  margin-top: 2rem;
}

.flex-images-int > .center-column-int {
  margin-right: 10px;
  /* margin-top: 1rem; */
}

.flex-images-int > img {
  /* width: 25% !important; */
  height: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}

img#img3 {
  width: 10% !important;
  height: 10% !important;
}

.center-column-int {
  /* margin-right: 10px; */
  /* width: auto; */
  padding: 0 0;
  margin: 0 0;

  /* margin-top: 1rem; */
}

.center-column-int > img {
  width: 85%;
  height: auto;
  /* height: 5%; */
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-burger span {
  background: #ffffff;
  border: none;
  height: 3px;
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.navbar-burger span:nth-of-type(2) {
  top: 0.9rem;
}
.navbar-burger span:nth-of-type(3) {
  top: 2.5rem;
}

@media (max-width: 400px) {
  .container-header {
    font-size: 5px;
  }

  img.img3int {
    opacity: 1 !important;
  }

  img.image-header {
    /* display: none; */
    /* visibility: hidden; */
    /* min-height: 400px; */
    /* margin-top: 4rem; */
    position: relative;
    /* min-width: 1024px; */
    width: 100%;
    height: 100% !important;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: -10;
  }
  .container-header {
    height: 300px;
    width: auto;
    min-height: 400px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 0 !important;
    /* height: 400px; */
    /* width: 100vw; */
    /* height: 100vh; */
  }

  .flex-images > .center-column {
    padding: 0 0;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .flex-images-int {
    justify-content: baseline;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .flex-images-int:nth-last-of-type(1) {
    margin-bottom: 10px;
  }

  .flex-images-int img {
    width: 50% !important;
    height: auto;
    padding-right: 10px;
  }

  .flex-images-int > img {
    /* margin-right: 1rem; */
    margin-top: 1rem;
  }

  label.box {
    font-size: 15px;
  }

  input.box {
    font-size: 15px;
  }
  .container.body.grey-box {
    outline: none !important;
    padding: 10px 10px !important;
  }
  .center-column-int {
    /* margin-right: 10px; */
    padding: 0 0;
    margin: 0 0;
    /* margin-top: 1rem; */
  }

  .center-column-int > img {
    width: 60%;
    height: auto;
    /* height: 5%; */
  }

  .title.is-green {
    font-size: 30px !important;
    margin-bottom: 0.5rem;
  }
  .subtitle.info {
    font-size: 20px !important;
    padding: 0px 0px;
    margin-top: 0.5rem 0;
  }
  label.box-gray {
    font-size: 15px !important;
    margin-bottom: 4rem;
  }
  #help-options {
    height: 30px;
    font-size: 20px;
  }
  .flex-images-int img {
    width: 60%;
    height: auto;
    margin-right: 0px !important;
  }
  img#img3 {
    width: 25% !important;
    height: 25% !important;
  }
  section.section {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  button.control-arrow {
    opacity: 0.2 !important;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 40px solid transparent !important;
  }

  .carousel .control-next.control-arrow:before {
    border-left: 40px solid transparent !important;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    border-top: 40px solid transparent !important;
    border-bottom: 40px solid transparent !important;
  }
}

@media (max-width: 550px) {
  .container-header {
    font-size: 7px;
  }

  img.img3int {
    opacity: 1 !important;
  }

  img.image-header {
    /* display: none; */
    /* visibility: hidden; */
    /* min-height: 400px; */
    /* margin-top: 4rem; */
    position: relative;
    /* min-width: 1024px; */
    width: 100%;
    height: 300px !important;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: -10;
  }
  .container-header {
    height: 300px;
    width: 100%;
    min-height: 400px;
    /* height: 400px; */
    /* width: 100vw; */
    /* height: 100vh; */
  }

  .flex-images > .center-column {
    padding: 0 0;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .flex-images-int {
    justify-content: baseline;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .flex-images-int:nth-last-of-type(1) {
    margin-bottom: 10px;
  }

  /* .flex-images-int img {
    width: 25% !important; */
  /* width: 50% !important; */
  /* height: 1% !important; */
  /* min-height: 100% !important; */
  /* padding-right: 10px; */
  /* } */

  .flex-images-int > img {
    /* margin-right: 1rem; */
    margin-top: 1rem;
  }

  label.box {
    font-size: 15px;
  }

  input.box {
    font-size: 15px;
  }
  .container.body.grey-box {
    outline: none !important;
    padding: 10px 10px !important;
  }
  .center-column-int {
    /* margin-right: 10px; */
    padding: 0 0;
    margin: 0 0;
    /* margin-top: 1rem; */
  }

  .center-column-int > img {
    width: 60%;
    height: auto;
    /* height: 5%; */
  }

  .title.is-green {
    font-size: 30px !important;
    margin-bottom: 0.5rem;
  }
  .subtitle.info {
    font-size: 20px !important;
    padding: 0px 0px;
    margin-top: 0.5rem 0;
  }
  label.box-gray {
    font-size: 15px !important;
    margin-bottom: 4rem;
  }
  #help-options {
    height: 30px;
    font-size: 20px;
  }
  .flex-images-int img {
    width: 40% !important;
    height: auto;
    margin-right: 10px !important;
  }
  img#img3 {
    width: 25% !important;
    height: 25% !important;
  }

  section.section {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 10px solid #fff !important;
  }

  .carousel .control-next.control-arrow:before {
    border-left: 10px solid #fff !important;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
  }

  /* img.image-header {
    opacity: 0.8 !important;
  }

  .header-image {
    opacity: 1 !important; */
  /* background-color: rgba(0, 0, 0, 0.5) !important; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
  /* url("/assets/images-int/mobile/Image.png") !important; */
  /* } */
}
@media (min-width: 551px) and (max-width: 850px) {
  /* .container.body {
    max-width: 100%;
  }
  .hero-body.body {
    max-width: 100%;
  } */
  /* h1.title-head {
    font-size: 10px;
  } */
  img.image-header {
    /* display: none; */
    /* visibility: hidden; */
    /* min-height: 400px; */
    /* margin-top: 4rem; */
    position: relative;
    /* min-width: 1024px; */
    width: 100%;
    height: 300px !important;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: -10;
  }
  .container-header {
    height: 300px;
    width: 80%;
    min-height: 400px;
    /* height: 400px; */
    /* width: 100vw; */
    /* height: 100vh; */
  }

  .flex-images > .center-column {
    padding: 0 0;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .container-header {
    font-size: 10px;
  }
  .radio-container {
    flex-direction: column;
  }

  .container.body {
    line-height: 2;
  }
  label.box {
    font-size: 3rem;
  }

  .input-label-columns {
    flex-direction: column;
  }
  input.box {
    font-size: 15px;
  }

  .about-body {
    flex-direction: column;
  }
  .container.body.grey-box {
    outline: none !important;
    padding: 10px 10px !important;
  }
  .center-column-int {
    /* margin-right: 10px; */
    padding: 0 0;
    margin: 0 0;
    /* margin-top: 1rem; */
  }

  .center-column-int > img {
    width: 70%;
    height: auto;
    /* height: 5%; */
  }
  .flex-images-int > img {
    margin-right: 0px !important;
    margin-top: 1rem;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 30px solid #fff !important;
  }

  .carousel .control-next.control-arrow:before {
    border-left: 30px solid #fff !important;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    border-top: 30px solid transparent !important;
    border-bottom: 30px solid transparent !important;
  }
}
@media (max-width: 1024px) {
  #grid {
    grid-template-areas:
      "a b c d"
      "k e f g"
      "h i j j";
  }

  img#i {
    width: fit-content;
  }
  .container.body {
    min-width: 100%;
  }
  .hero-body.body {
    min-width: 100%;
  }
  grid > img {
    width: 100px;
    height: auto;
  }
  .container-header {
    flex-direction: column;
    width: 80%;
  }
  .image-about {
    margin-left: 10px;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 10px solid #fff !important;
  }

  .carousel .control-next.control-arrow:before {
    border-left: 10px solid #fff !important;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
  }
}

@media (max-width: 1366px) {
  .container.body {
    min-width: 100%;
  }
  .hero-body.body {
    min-width: 100%;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 40px solid #fff !important;
  }

  .carousel .control-next.control-arrow:before {
    border-left: 40px solid #fff !important;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    border-top: 40px solid transparent !important;
    border-bottom: 40px solid transparent !important;
  }
}

@media (min-width: 1367px) {
  .carousel .control-prev.control-arrow:before {
    border-right: 40px solid #fff !important;
  }

  .carousel .control-next.control-arrow:before {
    border-left: 40px solid #fff !important;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    border-top: 40px solid transparent !important;
    border-bottom: 40px solid transparent !important;
  }
}
#grid img {
  margin: 0 0;
  padding: 0;
}

.container.body {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  line-height: 3;
}

.container.body.grey-box {
  outline: 3px solid #707070;
  padding: 20px 45px;
}

h1.is-green {
  /* height: 100vh; */
  color: #3da940 !important;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 4em;
  font-weight: 700;
}

h1.is-white {
  color: #ffffff !important;
  margin-left: 1rem;
  font-size: 4em;
  font-weight: 700;
}

.title-head {
  font-size: 1rem;
}

.title.is-green {
  color: #3da940 !important;
  font-weight: 500;
  font-size: 35px;
}

.subtitle.info {
  flex: 0 1;
  font-size: 30px;
}

.hero-body.body {
  max-width: 90%;
  align-items: center;
  justify-content: center;
}
nav.navbar {
  height: 4rem !important;
  background-color: #38d430;
}
.navbar-menu {
  background-color: #38d430;
}
.navbar-burger {
  height: 4rem !important;
}
.image-about {
  /* flex: 1 0; */
  margin-left: 100px;
  background-image: url(/assets/images/Image.png);
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  /* background-position: 0% 0%; */
  background-position: center center;
  background-repeat: no-repeat;
  /* max-height: 100vh; */
  /* max-width: auto; */
  /* z-index: -100; */
  /* margin-top: 0.25rem; */
  /* padding-top: 3.25rem; */
  /* width: 100vw; */
  /* display: block; */
  /* margin: -6.75rem -10rem -10rem -5rem !important; */
  /* overflow: hidden !important; */
}

.image-about-int {
  /* flex: 1 0; */
  /* margin-left: 100px; */
  background-image: url(/assets/images-int/IMG-1410-min.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 0% 0%;
  /* background-position: center center; */
  background-repeat: no-repeat;
  max-height: 100vh;
  max-width: 100vw;
  /* z-index: -100; */
  /* margin-top: 0.25rem; */
  /* padding-top: 3.25rem; */
  /* width: 100vw; */
  /* display: block; */
  /* margin: -6.75rem -10rem -10rem -5rem !important; */
  /* overflow: hidden !important; */
}
/* .navbar-brand{
    width: auto;
} */
a.logo {
  cursor: pointer;
  background-image: url("/assets/images/Acid Logo_edited (2).svg");
  background-size: 10.25rem;
  background-repeat: no-repeat;
  padding: 0 5.75rem;

  margin-left: 2.5rem;
  margin-top: 0.3rem;
  /* margin-bottom: 0.3rem; */
}

/* a.logo:hover {
  cursor: pointer;
  background-image: url("/assets/logo/logo-AI-1.png") !important;
  background-size: 3.25rem;
  padding: 0 1.75rem;
  background-repeat: no-repeat;
} */
a.button.brand-green:hover {
  background-color: #fff;
  color: #38d430;
}
a.button.brand-green {
  padding: 0 10px 0 10px;
  font-size: larger;
  font-weight: normal;
  font-family: "Roboto";
  background-color: #38d430;
  color: #fff;
  outline: none;
  border-color: #38d430;
}

.bg-image-landing-group12 {
  margin-top: 3.25rem;
  background-image: url("/assets/images/Group-12-min.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-position: center center; */
  background-position: 0% 0%;
  background-repeat: no-repeat;
  /* z-index: -100; */
  /* margin-top: 0.25rem; */
  /* padding-top: 3.25rem; */
  width: 100vw;
  height: 90vh;
  display: block;
  /* margin: -6.75rem -10rem -10rem -5rem !important; */
  /* overflow: hidden !important; */
}

.bg-image-landing-group13 {
  margin-top: 3.25rem;
  background-image: url("/assets/images-int/Group-13-min.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-position: center center; */
  background-position: 0% 0%;
  background-repeat: no-repeat;
  /* z-index: -100; */
  /* margin-top: 0.25rem; */
  /* padding-top: 3.25rem; */
  width: 100vw;
  height: 90vh;
  display: block;
  /* margin: -6.75rem -10rem -10rem -5rem !important; */
  /* overflow: hidden !important; */
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.single-spaced,
.single-spaced * {
  line-height: 1.5;
}

.hero-body.is-green {
  background-color: #3da940;
  margin: 1rem;
  padding: 10rem 5rem;
}

label.box-gray {
  font-size: 20px;
  margin-bottom: 4rem;
}

label.box-gray.light {
  color: #707070;
}

textarea,
input#ideas-describe {
  height: 185px;
  width: 100%;
  font-size: 20px;
  padding: 1rem;
}

form input {
  font-size: 20px;
}

label.box {
  height: auto;
  width: 100%;
  box-shadow: none;
  padding: 5px 0;
  margin: 1rem 0;
}

input.box {
  width: 100%;
  margin-top: 0;
  box-shadow: none;
}

button.button-send {
  background-color: #3da940;
  color: white;
  font-size: 20px;
  width: 17.5rem;
  height: 3rem;
  outline-style: none;
  box-shadow: none;
  border-style: none;
}

.hero-foot {
  background-color: #1f242d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.foot-title {
  color: #38d430;
}

.copy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #ffffff;
}

textarea#ideas-describe {
  resize: vertical;
}

.radio-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* align-items: flex-start; */
  align-items: center;
  flex-wrap: wrap;
}

.radio-container .input-label {
  margin-right: 6rem;
}

.input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-label > input[type="radio"] {
  margin-left: 6rem;
  margin-right: 1rem;
  /* border: 5px; */
  border: 0px;
  width: 2rem;
  height: 2rem;
}

.input-label input[type="radio"]:nth-of-type(1) {
  margin-left: 0;
}

h2.sub-title {
  color: #3da940 !important;
  font-weight: 200;
  font-size: 35px;
}

.input-label-columns {
  display: flex;
  flex-direction: row;
}

label.box {
  margin: 0px 0px !important;
}

.form-input-label {
  margin-bottom: 1rem;
}

.button-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 20px; */
  width: 100%;
}

/* .carousel .control-prev.control-arrow:before {
  border-right: 30px solid #fff !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 30px solid #fff !important;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  border-top: 30px solid transparent !important;
  border-bottom: 30px solid transparent !important;
} */

button.control-arrow {
  opacity: 0.7 !important;
}

img.image-header {
  /* display: none; */
  /* visibility: hidden; */
  /* min-height: 100%; */
  /* margin-top: 4rem; */
  position: relative;
  /* min-width: 1024px; */
  width: 100%;
  height: auto;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  z-index: 2;
}

.container-header {
  margin-top: 60px;
  /* margin-bottom: 400px; */
  text-align: center;
  color: white;
  /* flex-grow: 1; */
  /* position: absolute; */
  height: auto;
  display: flex;
  /* margin: 0 auto; */
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 80%;
  min-height: 80%;
  /* height: auto; */
  /* width: 100vw; */
  /* height: 100vh; */
}

.container-header-slider {
  width: 100%;
  min-height: 100%;
  margin-top: 4rem;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 0;
  align-items: center;
  flex-direction: column;
}

.container-header-slider img {
  opacity: 0.5;
}

.dots-carousel {
  position: absolute;
  bottom: 2rem;
}

/* .dots-carousel li {
  background: rgba(0, 0, 0, 0.5) !important;
}

.dots-carousel button {
  background: white !important;
  color: #fff;
} */

/* .BrainhubCarousel__dot--selected { */
/* background-color: rgba(0, 0, 0, 0.5) !important; */
/* } */
.BrainhubCarousel__dots .BrainhubCarousel__dot {
  margin: 10px;
  padding: 0px !important;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot.BrainhubCarousel__dot--selected {
  background-color: #3da940 !important;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot {
  opacity: 1 !important;
  /* background-color: rgba(0, 0, 0, 0.5) !important; */
  /* border: 5px solid #000 !important; */
  background: #ffffff !important;
  border-radius: 50% !important;
  border: 1px solid #ffffff !important;
  width: 10px !important;
  height: 10px !important;
  /* margin: 10px; */
  /* padding: 0px !important; */
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
  opacity: 1 !important;
  /* background-color: rgba(0, 0, 0, 0.5) !important; */
  /* border: 5px solid #000 !important; */
  background: #ffffff !important;
  /* background-color: #3da940 !important; */
  /* border-radius: 50% !important; */
  /* border: 1px solid #ffffff !important; */
  width: 0px !important;
  height: 0px !important;
}

button.BrainhubCarousel__dots {
  padding: 0px !important;
}

.hero-body {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 0;
  align-items: baseline;
  justify-content: center;
}

section.section:nth-of-type(1) {
  padding-top: 2rem;
}
section.section {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.dot.selected {
  background-color: #3da940 !important;
}

.dot {
  opacity: 1 !important;
  background: #ffffff !important;
}

button.consent-button {
  position: fixed;
  width: 100vw;
  height: 5vw;
  bottom: 0;
}

.header-image img {
  opacity: 1 !important;
}
